/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*page style */

*{
    box-sizing: border-box;
}

body {
    padding-top: 160px;
    font-family: 'Noto Sans', sans-serif;
    background-color: #ECF0F1;
    width: 100%;
    height: 100vh;
}


.container {
    min-width: 320px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px 0 10px;
}


/*img one*/


.img_housefly {
    width: 265px;
    height: 195px;
    margin: 28px 0 55px 130px;
    transform: rotate(15deg)
}

/*img two*/

.img_graffiti {
    margin: -23px 0 55px 155px;
}


/*button*/

.btn_center_position {
    text-align: center;
}

a {
    font-size: 0.9em;
    color: white;
    padding: 22px 15px 22px 35px;
    background-color: #C23A2C;
    border: none;
    border-radius: 3px;
    text-decoration: none;
    box-shadow: 1px 1px 10px #888888;
}

span {
    text-transform: uppercase;
    padding: 10px 40px 10px 10px;
    border-right: 1px solid brown;
}

i {
    padding-left: 14px;
    padding-right: 2px;
    font-size: 1.3em;
}

/*text*/

p {
    font-size: 1em;
    line-height: 18px;
    margin-top: 82px;
    margin-bottom: 30px;
    color: #C23A2C;
}

/*media query*/

@media (max-width: 1000px) { 
    .btn_center_position {
        margin-top: 30px;
    }  
}

@media (min-width: 750px) {
    .col-6 {
        width: 50%;
        float: left;
    }
    .col-12 {
        width: 100%;
        float: left;
    }
}

@media (max-width: 550px) { 
    body {
    padding-top: 50px;
    }
    
    .img_housefly {
        margin: 5%;

    }
    .img_graffiti {
        margin: 5%;
    }
    p {
        text-align: justify;
    }
    .col-6 {
        display: flex;
        justify-content: center;
    }
}
